:root {
    --primary-color: #ad7afd;
    --secondary-color: #febd19;
    --purble-dark-color: #8138fb;
    --white-color: #ffff;
    --brown-dark-color: #8e5800;
    --side-menu-color: #c3c2c2e6;
    --gray-lighten-color: #ffeeee;
    --icon-size: 30px;
    --gray-lighten1-color: #686868;
    --gap-size: 15px;
}